#root{
  --white: white;
  --solid-white: 1px solid white;
}

.square {
  display: flex;  
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  outline: none;
  /* margin: 0.5rem; */
}

.square:focus{
  outline: 0;
}

.square:active{
  outline: none;
}

.square:nth-child(1){
  border-right: var(--solid-white);
  border-bottom: var(--solid-white); 
}

.square:nth-child(even){
  border-bottom: var(--solid-white);
}

.square:nth-child(3n){
 border-left: var(--solid-white);
 border-bottom: var(--solid-white);
}

.square:nth-child(4){
  border-right: var(--solid-white);
}

.square:nth-child(7){
  border-right: var(--solid-white);
}

.square:nth-child(8){
  border-bottom: none;
  border-top: var(--solid-white);
}
.square:nth-child(9){
  border-bottom: none;
}


@media (prefers-color-scheme: light) {
  div:nth-child(1) .square:nth-child(1){
    border-right: 1px solid black;
    border-bottom: 1px solid black; 
  }
  
  .square:nth-child(even){
    border-bottom: 1px solid black;
  }
  
  .square:nth-child(3n){
   border-left: 1px solid black;
   border-bottom: 1px solid black;
  }
  
  .square:nth-child(4){
    border-right: 1px solid black;
  }
  
  .square:nth-child(7){
    border-right: 1px solid black;
  }
  
  .square:nth-child(8){
    border-bottom: none;
    border-top: 1px solid black;
  }
  .square:nth-child(9){
    border-bottom: none;
  }
}

@media screen and (min-width: 800px){
  .square{
    font-size: 3rem;
    width: 100px;
    height: 100px;
  }
}